@model IEnumerable<StickItFy.Models.Sticker>

@{
    ViewBag.Title = "Index";
}

<div class="container">
    @if (User.IsInRole("Administrator"))
    {
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
    }
    <table class="table">
        <tr>
            <th>

                @Html.DisplayNameFor(model => model.ImageUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NameOfProduct)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="@item.ImageUrl" style="height:130px; width:170px;"
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NameOfProduct)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @if (User.IsInRole("Administrator") || User.IsInRole("Editor"))
                    {
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                    }
                    @Html.ActionLink("Details", "Details", new { id = item.Id })

                    @if (User.IsInRole("Administrator"))
                    {
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })

                    }
                </td>
            </tr>
        }

    </table>

</div>
